@charset "utf-8";
/* reset */
*{box-sizing:border-box;}
html{-webkit-text-size-adjust:none;}
html,body{height:100%;-webkit-font-smoothing:antialiased;}
html, body, div, h1, h2, h3, h4, h5, h6, 
p, span, strong, b, em, i, pre, a, address, img, 
dl, dt, dd, ol, ul, li, form, fieldset, legend, label, 
table, caption, thead, tbody, tr, th, td,
iframe, audio, video{margin:0;padding:0;}
body{font-size:15px;font-family:'NanumSquare', 'Malgun Gothic', 'Dotum', Sans-serif;font-weight:500;color:#333;}
i,em,address{font-style:normal;}
b,strong{font-style:normal;font-weight:700;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
img{max-width:100%;border:none;vertical-align:middle;}
input, button, label, select{font-family:'Malgun Gothic', 'Dotum', Sans-serif; vertical-align:middle;}
input[type="submit"], input[type="button"], button{cursor:pointer;}
ol, ul, li{display:block;list-style:none;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}
caption{overflow:hidden;width:1px;height:1px;padding:0;margin-top:-1px;font-size:0;line-height:0;text-indent:-9999px;}
.soundOnly{display:block !important;position:absolute !important;top:-9999px !important;}

/* size */
.w10{width:10px}.w20{width:20px}.w30{width:30px}.w40{width:40px}.w50{width:50px}.w60{width:60px}.w70{width:70px}.w80{width:80px}.w90{width:90px}.w100{width:100px}.w110{width:110px}.w115{width:115px}.w120{width:120px}.w130{width:130px}.w140{width:140px}.w150{width:150px}.w160{width:160px}.w170{width:170px}.w180{width:180px}.w190{width:190px}.w200{width:200px}.w210{width:210px}.w220{width:220px}.w230{width:230px}.w240{width:240px}.w250{width:250px}.w260{width:260px}.w270{width:270px}.w280{width:280px}.w290{width:290px}.w300{width:300px}.w310{width:310px}.w320{width:320px}.w330{width:330px}.w340{width:340px}.w350{width:350px}.w360{width:360px}.w370{width:370px}.w380{width:380px}.w390{width:390px}.w400{width:400px}.w410{width:410px}.w420{width:420px}.w430{width:430px}.w440{width:440px}.w450{width:450px}.w460{width:460px}.w470{width:470px}.w480{width:480px}.w490{width:490px}.w500{width:500px}.w510{width:510px}.w520{width:520px}.w530{width:530px}.w540{width:540px}.w550{width:550px}.w560{width:560px}.w570{width:570px}.w580{width:580px}.w590{width:590px}.w600{width:600px}.w610{width:610px}.w620{width:620px}.w630{width:630px}.w640{width:640px}.w650{width:650px}.w660{width:660px}.w670{width:670px}.w680{width:680px}.w690{width:690px}.w700{width:700px}
.w15{width:15px}.w25{width:25px}.w35{width:35px}.w45{width:45px}.w55{width:55px}.w65{width:65px}.w75{width:75px}.w85{width:85px}.w90{width:95px}

/* layout */
.flexWrap{display:flex;}
.fSb{justify-content:space-between;}
#skipNav a{display:block;position:fixed;top:-999px;left:0;right:0;height:40px;line-height:40px;text-align:center;color:#fff;background:#6678a8;z-index:999999;}
#skipNav a:focus{top:0;z-index:9999;}
#overlay{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.5);z-index:31;}
#overlay.active{display:block;}
#wrap{min-width:1320px; overflow:hidden;}
.inner{position:relative; margin:auto; width:1280px; box-sizing:border-box;}
.inner:after{display:block;content:''; clear:both;}
.main .inner:after{display:none;}

/* header */
#header{position:relative; height:150px; background:#fff; z-index:50;}
.headerTop{height:60px; font-family:'NanumGothic', 'Malgun Gothic', 'Dotum', Sans-serif; border-bottom:1px solid #dedede; box-sizing:border-box;}
.headerTop .blankPage{position:relative; float:left; margin-top:23px; padding:0 19px; font-size:15px; color:#222;}
.headerTop .blankPage:first-child{padding-left:0;}
.headerTop .blankPage:first-child:after{display:block; content:''; position:absolute; top:3px; right:-1px; width:1px; height:12px; background:#dcdcdc;}
.headerTop .blankPage:hover{text-decoration:underline;}
.headerTop .time{position:absolute; top:22px; right:300px;}
.headerTop .time li{float:left; font-size:14px; color:#333;}
.headerTop .time li:first-child{padding-right:18px;}
.headerTop .time li .date{margin-right:5px;}
.headerTop .time li .nation{display:inline-block; margin-left:5px; padding:2px 6px; font-size:13px; color:#fff; background:#c2c2c2; border-radius:3px;}
.headerTop .other{float:right; margin-top:24px;}
.headerTop .other > li{float:left;}
.headerTop .other > li a{display:block; position:relative; padding:0 20px; font-size:13px; color:#333;}
.headerTop .other > li a:hover{text-decoration:underline;}
.headerTop .other > li a:after{display:block; content:''; position:absolute; top:3px; right:-1px; width:1px; height:12px; background:#dcdcdc;}
.headerTop .other > li:last-child a{padding-right:0;}
.headerTop .other > li:last-child a:after{display:none;} 
.headerBottom{height:90px;background-color:#192d44;}
.headerBottom .inner{height:100%;}
.headerBottom .inner:after{display:none;}
.headerBottom h1,
.headerBottom .stateWrap{display:flex;align-self:center;}
.headerBottom .stateWrap h2{align-self:center;margin-right:30px;font-size:18px;font-weight:normal;color:#fff;}
.headerBottom .stateWrap li{width:50px;height:50px;margin-right:10px;font-size:16px;color:#fff;text-align:center;line-height:40px;background-color:#425b7d;border:5px solid #58687b;
border-radius:50px;}
.headerBottom .stateWrap li:last-child{margin-right:0;}
.headerBottom .stateWrap ul > li.on:first-child{background-color:#2ba400;border-color:#95ca6e;}
.headerBottom .stateWrap ul > li.on:nth-child(2){background-color:#397fd5;border-color:#82a1d7;}
.headerBottom .stateWrap ul > li.on:nth-child(3){background-color:#efc804;border-color:#ddcf8b;}
.headerBottom .stateWrap ul > li.on:nth-child(4){background-color:#fb6617;border-color:#d08e6c;}
.headerBottom .stateWrap ul > li.on:last-child{background-color:#fd1830;border-color:#c56b74;}

/* main */
table{overflow:hidden;border-radius:5px 5px 0 0;}
thead{height:45px;line-height:45px;}
tr{border-bottom:1px solid #e3e3e3;}
th{color:#fff;}
th,td{text-align:center;}
tbody th{font-weight:normal;color:#555555;background-color:#f3f5f9;}
.fontMint{color:#00b0a4;}
.fontOrange{color:#dd780e;}
.fontBlue{color:#2094ce;}
.main>div{margin-bottom:20px;}
.more{display:inline-block;align-self:center;width:16px;height:16px;text-indent:-9999px;background:url(../images/main/icon_visualBox_more.png) no-repeat center; transition:all 0.3s ease;}
.more:hover{ transform:rotate(90deg);}
#container.main{padding:40px 0;background-color:#ecf0f7;}
.boardList{width:413px;background-color:#fff;border-radius:5px;border:1px solid #dce6eb;box-shadow: 0px 4px 13px 0 rgba(48, 48, 48, 0.03);}
.boardList1>div:first-child{padding:0 20px 0 30px;border:1px solid #dce6eb;border-width:0 0 1px;}
.boardList1 h3{font-size:18px;font-weight:600;color:#000;line-height:60px;}
.boardList1>div:first-child i{font-size:23px;color:#000;line-height:60px;}
.boardList1>div:last-child{padding:0 26px;border:1px solid #dce6eb;border-top-width:0;}
.boardList1 ul{padding:20px 0 30px;border-top:1px solid #e3e3e3;}
.boardList1 ul>li{position:relative;padding-left:10px;line-height:34px;}
.boardList1 ul>li::before{position:absolute;top:0;left:0;content:'·';}
.boardList1 li a{display:flex;justify-content:space-between;font-size:16px;}
.boardList1 li a span:first-child{display:inline-block;width:170px;font-size:15px;color:#777;overflow:hidden;text-overflow:ellipsis;white-space:pre;}
.boardList1 li a span:last-child{font-size:14px;color:#999;}
.boardList1 li:hover a span{color:#397fd5;}
.mainNotice{padding:25px 0;}
.mainNotice img{width:66px;height:66px;margin-right:20px;}
.mainNotice b{display:block;margin-bottom:7px;font-size:16px;}
.mainNotice p{font-size:15px;color:#7c7c7c;line-height:22px;word-break:keep-all;}
.boardList1 .btnRegistration{text-align:center;margin-bottom:25px;}
.boardList1 .btnRegistration button{width:160px;height:45px;font-size:15px;font-family:'NanumSquareB';font-weight:bold;color:#fff;background-color:#009c93;border:none;border-radius:3px;transition:0.3s;}
.boardList1 .btnRegistration button:hover{background-color:#007973;}
.boardList2{padding:8px 10px;}
.boardList2 .tab a{display:flex;justify-content:center;align-items:center;height:55px;font-size:15px;color:#fff;line-height:16px;text-align:center;background-color:#a2aebf;border:1px solid #d3d3d3;border-right:none;}
.boardList2 .tab li:last-child a{border-right-width:1px;}
.boardList2 .tab .on{font-weight:bold;color:#fff;background-color:#2669ae;border-color:transparent;}
.boardList2 .boxTab ul{display:flex;overflow:hidden;border-radius:3px;}
.boardList2 .tabConts{padding:15px 10px;text-align:center;}
.boardList2 .tabCont{width:376px;height:300px;}
.boardList3{margin-right:0;}
.boardList3>div:first-child{padding:0 20px 0 25px;border:1px solid #dce6eb;border-width:0 0 1px;}
.boardList3 h3{height:59px;font-size:18px;font-weight:600;color:#000;line-height:62px;}
.boardList3>div:first-child i{font-size:23px;color:#000;line-height:60px;}
.boardList3>div:last-child{padding:23px;}
.boardList3 table thead{background-color:#4eb9c9;}
.boardList3 tbody th{padding:32px 0;}
.boardList3 .level::before{content:'';display:block;width:30px;height:30px;margin:0 auto 3px;background-image:url(../images/main/icon_warninglevel.png);background-repeat:no-repeat;}
.boardList3 .level.r::before{background-position-y:0;}
.boardList3 .level.s::before{background-position-y:50%;}
.boardList3 .level.g::before{background-position-y:100%;}
.analysisList{width:413px;background-color:#fff;box-shadow: 0px 4px 13px 0 rgba(48, 48, 48, 0.03);}
.analysisList>div:first-child{padding:0 20px 0 25px;border:1px solid #dce6eb;border-width:0 0 1px;}
.analysisList h3{height:59px;font-size:18px;font-weight:600;color:#555;line-height:62px;letter-spacing:-0.45px;}
.analysisList>div:first-child i{font-size:23px;color:#000;line-height:60px;}
.analysisList>div:last-child{padding:23px;}
.analysisList table thead{background-color:#90c31f;}
.analysisList tbody th{padding:13px 0;}
.noticeList{box-shadow: 0px 4px 13px 0 rgba(48, 48, 48, 0.03);}
.noticeList1{width:510px;background-color:#fff;}
.noticeList1>div:first-child{padding:0 20px 0 30px;border:1px solid #dce6eb;border-width:0 0 1px;}
.noticeList1 h3{font-size:18px;font-weight:600;color:#555;line-height:60px;}
.noticeList1>div:first-child i{font-size:23px;color:#000;line-height:60px;}
.noticeList1>div:last-child{padding:0 25px;}
.noticeList1 ul{padding:20px 0 23px;}
.noticeList1 ul>li{position:relative;padding-left:10px;line-height:32px;}
.noticeList1 ul>li::before{position:absolute;top:0;left:0;content:'·';}
.noticeList1 li a{display:flex;justify-content:space-between;font-size:16px;}
.noticeList1 li a span:first-child{display:inline-block;width:300px;font-size:15px;color:#777;overflow:hidden;text-overflow:ellipsis;white-space:pre;}
.noticeList1 li a span:last-child{font-size:14px;color:#999;}
.noticeList1 li:hover a span{color:#397fd5;}
.noticeList2{width:750px;}
.noticeList2 h3{padding-left:20px;}
.noticeList2>div>div{position:relative;width:33.3%;height:200px;background-color:#fff;border:1px solid #dce6eb;border-right:none;}
.noticeList2>div>div:first-child,
.noticeList2>div>div:nth-child(2){width:250px;background-image:url(../images/main/icon_shorthand.png);background-repeat:no-repeat;}
.noticeList2>div>div:first-child{background-position:top center;}
.noticeList2>div>div:first-child:hover,
.noticeList2>div>div:nth-child(2):hover{background-image:url(../images/main/icon_on_shorthand.png);}
.noticeList2>div>div:nth-child(2){background-position:bottom center;}
.noticeList2>div>div a{display:block;width:100%;height:100%;}
.noticeList2>div>div p{display:block;position:absolute;bottom:30px;width:100%;font-size:15px;text-align:center;}
.noticeList2>div>div:last-child{border-right:1px solid #dce6eb;border-top:1px solid #4095a9;border-radius:0 5px 0 0;overflow:hidden;}
.noticeList2 h3{height:55px;color:#fff;background-color:#4095a9;line-height:55px;}
.noticeList2 .contactInfo{padding:12px;}
.noticeList2 .contactInfo dl{line-height:40px;}
.noticeList2 .contactInfo dt,
.noticeList2 .contactInfo dd{display:inline-block;font-size:15px;}
.noticeList2 .contactInfo dt::before{display:inline-block;position:relative;top:-3px;content:'';width:3px;height:3px;margin-right:6px;background-color:#4eb9c9;border-radius:20px;}
.noticeList2 .contactInfo dt{margin-right:3px;}

/* footer */
#footer{padding:50px; background:#1f2126;font-family:'NanumGothic', 'Malgun Gothic', 'Dotum', Sans-serif;}
#footer .inner{padding-left:297px;}
#footer img{position:absolute; top:0; left:0;}
#footer ul{margin-bottom:30px;}
#footer ul:after{display:block; content:''; clear:both;}
#footer ul li{position:relative; float:left; padding:0 15px;}
#footer ul li:after{display:block; content:''; position:absolute; top:50%; right:-1.5px; margin-top:-1.5px; width:3px; height:3px; background:#888; border-radius:100%;}
#footer ul li:first-child{padding-left:0;}
#footer ul li:last-child{padding-right:0;}
#footer ul li:last-child:after{display:none;}
#footer ul li a{font-size:14px; color:#888;}
#footer ul li a:hover{text-decoration:underline;}
#footer ul li:first-child a{color:#fff;}
#footer .inner div{margin-bottom:15px;}
#footer div span{padding:0 8px; font-size:13px; font-weight:400; color:#888;}
#footer div span:first-child{padding-left:0;}
#footer div span:last-child{padding-right:0;}
#footer select{position:absolute; top:-15px; right:0; padding:0 10px; width:220px; height:40px; font-size:13px; font-weight:500; color:#888; background:#1f2126 url(../images/main/icon_select.png) no-repeat right 10px center; border:1px solid #636468; border-radius:5px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
#footer select::-ms-expand {display: none;}
#footer p{font-size:13px; font-weight:400; color:#888;}
#overlay.active{z-index:100;}

/* pop */
.popOverlay{display:none;position:fixed;z-index:8000;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.popWrap{position:fixed;top:50%;left:50%;width:602px;background-color:#fff;transform:translateX(-50%) translateY(-50%);border:1px solid #284278;}
.popBody{max-height:850px;margin:1px;padding:20px;overflow-y:auto;}
.popTit{display:flex;justify-content:space-between;padding:17px 24px 16px 28px;background-color:#284278;}
.popTit h1{font-size:20px;font-weight:bold;color:#fff;letter-spacing:-2px;}
.popCont h2{margin-bottom:7px;font-size:17px;font-weight:bold;color:#284778;letter-spacing:-0.85px;}
.btnClose{width:17px;height:17px;background:transparent url(../images/main/icon_close_pop.png)no-repeat;border:none;}

.where{display:block;margin:25px 15px;color:#000;}
.fileBox input[type="file"]{position:absolute;overflow:hidden;width:1px;height:1px;margin:-1px;padding:0;border:0;}
.fileBox label{display:inline-block;vertical-align:middle;}
.fileBox .uploadName{display:inline-block;width:78%;height:40px;padding-left:10px;line-height:26px;background-color:#f5f5f5;border:1px solid #ebebeb;border-bottom-color:#e2e2e2;}
.tblView{border:2px solid #284278;border-width:2px 0 1px;}
.tblView th{padding:20px 5px;font-size:14px;font-weight:bold;}
.tblView td{padding:10px 5px;}
.tblView input[type=text],
.tblView select,
.tblView textarea{width:100%;height:40px;padding:5px;resize:none;border:1px solid #cacaca;}
.tblView select{padding:0;}
.tblView textarea{height:80px;}
.tblView td span{display:block;padding-left:5px;text-align:left;}
.tblView .btnFile{line-height:20px;border-radius:3px;transition:0.3s;}
.tblView .btnFile:hover{color:#3e87ff;}
.tblView .btnFile::after{display:inline-block;position:relative;top:5px;content:'';width:16px;height:16px;margin-left:5px;background:url(../images/main/icon_file.png);}
.tblView .btnFile:hover::after{background:url(../images/main/icon_on_file.png);}
label.btn{width:80px;height:40px;line-height:39px;border-radius:3px;}
.flieDownload>a{display:block;margin-bottom:5px;}
.flieDownload>a:last-child{margin-bottom:0;}

.btn{width:150px;height:40px;padding:0 10px;font-size:15px;line-height:24px;border-radius:5px;transition:0.3s;}
.btnWrap{margin:20px 0;text-align:center;}
.btnGray{color:#f8f8f8;background-color:#8694a3;border:1px solid #8694a3;}
.btnGray:hover, .btnGray:active{color:#fff;background-color:#677687;border-color:#677687;}
.btnBlue{color:#fff;background-color:#284278;border:1px solid #284278;}
.btnBlue:hover, .btnBlue:active{color:#fff;background-color:#395fac;border:1px solid #395fac;}
.btnSkyblue{color:#fff;background-color:#3c7ed3;border:1px solid #3c7ed3;}
.btnSkyblue:hover{color:#fff;background-color:#225599;border:1px solid #225599;}
.btnBlueline{color:#225599;background-color:#fff;border:2px solid #225599;}
.btnBlueline:hover{color:#fff;background-color:#225599;}